# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Node bullshit
/node_modules

# Idk what yarn is but that too
/yarn-error.log

# Also don't know what byebug is but I should probably look it up
.byebug_history

# Idea crap
/.idea/*
*/.idea/*
