$blue-light: #9ABEDD;
$blue:       #165C9B;
$blue-dark:  #011B32;

$purple-light: #B69EE1;
$purple:       #4D1BA3;
$purple-dark:  #140234;

$green-light: #B7F1A2;
$green:       #43CD10;
$green-dark:  #124100;

$yellow-light: #EDDEDA;
